@import "frappe.css";

* {
	font-family: "JetBrains Mono", "Font Awesome 6 Brands", "Font Awesome 6 Free";
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background-color: @crust;
	border-radius: 1rem;
	color: @text;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
	border-radius: 1rem;
	margin: 0.5rem 0px;
	background-color: #ffffff;
	padding: 0.1rem 1rem;
}

#workspaces button {
	border-radius: 1rem;
	padding: 0.5rem;
}

#workspaces button.persistent {
	color: @peach;
}

#workspaces button.empty {
	color: @rosewater;
}

#workspaces button.active {
	color: @blue;
}

#workspaces button:hover {
	color: @peach;
}

#cpu,
#memory,
#tray,
#pulseaudio,
#network,
#backlight,
#battery,
#clock,
#custom-start,
#custom-power {
	background-color: @surface2;
	margin: 0.5rem 0px;
	padding: 0.1rem 1rem;
}

/* If workspaces is the leftmost module, left margin */
.modules-left > widget:first-child > #custom-start {
	margin-left: 0.5rem;
}

/* If workspaces is the rightmost module, right margin */
.modules-right > widget:last-child > #custom-power {
	margin-right: 0.5rem;
}

#clock {
	color: @blue;
	margin-right: 0.5rem;
	border-radius: 0px 1rem 1rem 0px;
}

#battery {
	color: @teal;
}

#battery.charging, #battery.plugged {
	color: @green;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#backlight {
	color: @yellow;
}

#network {
	color: @peach;
}

#network.disconnected {
	color: @peach;
}

#pulseaudio {
	color: @maroon;
	margin-left: 0.5rem;
	border-radius: 1rem 0px 0px 1rem;
}

#pulseaudio.muted {
	color: @red;
}

#cpu {
	color: @flamingo;
	margin-left: 0.5rem;
	border-radius: 1rem 0px 0px 1rem;
}

#memory {
	color: @mauve;
	margin-right: 0.5rem;
	border-radius: 0px 1rem 1rem 0px;
}

#tray {
	border-radius: 1rem;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @red;
}

#custom-start {
	background-color: @surface0;
	color: #14b3f7;
	border-radius: 1rem;
}

#custom-power {
	background-color: @surface0;
	color: @lavender;
	border-radius: 1rem;
}
